<!DOCTYPE html>
<html>
  <head>
    <title>myApp</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- LINKING STYLE SHEETS -->
    <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
    <% } %>
      <!-- LINKING JS FILES -->
    <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
    <% } %>
  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="site-wrapper">
      <main ui-view></main>
    </div>
  </body>
</html>
