// Primary color palette
// $primary-color-400: ;
// $primary-color-500: ;
// $primary-color-800: ;

// Accent color palette
// $accent-color-A100: ;
// $accent-color-A200: ;
// $accent-color-A300: ;
// $accent-color-A400: ;

// Warn color palette
// $warn-color-400: ;

// Static colors
$text-color-default: black;
// $modal-backdrop-bg: ;
$hr-color-border: #EEEEEE !default;

// Default configurations
$border-radius-primary: 7px;
$hidden-outline: rgba(0,0,0,0);

// Default spacings
$content-spacing-y-primary: 50px;

// Font sizes
$font-size-base: 14px !default; //** Unit-less `line-height` for use in components like buttons.

// line height
$line-height-base: 1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

// Font stacks
$font-stack-fallback: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; //Add Main style variables above
$font-stack-regular: 'RegularFontHere', $font-stack-fallback;

//Add style variables above
